tools/gui/flow.json
[{"id":"8e778f1e.2e85c","type":"lower-case","z":"325d2b9e.6701a4","name":"","x":170,"y":160,"wires":[["f1c11a95.a17618"]]},{"id":"a150b2db.25362","type":"inject","z":"325d2b9e.6701a4","name":"","topic":"","payload":"Hello World!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["8e778f1e.2e85c","15320229.d70f6e"]]},{"id":"15320229.d70f6e","type":"debug","z":"325d2b9e.6701a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":60,"wires":[]},{"id":"f1c11a95.a17618","type":"debug","z":"325d2b9e.6701a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":180,"wires":[]}]